<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <input type="text" id="searchInput" placeholder="Search...">
    <button onclick="search()">Search</button>

    <script src="./script/api.js"></script>
    <script>
        function search() {
            const title = document.getElementById('searchInput').value;
            searchTitle(title);
        }
    </script>

    
</body>
</html>